@import "tailwindcss";

.mainForm1 {
    height: 100dvh;
    background-position: center;
    background-size: cover;
    background-image: url("/bg.jpg");
    background-repeat: no-repeat;
}
.homeMain {
  height: 100dvh;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  place-content: center;
  overflow: hidden;
}
.homeMainFormCont {
  z-index: 1;
}
.pageCover {
  backdrop-filter: blur(8px); 
  background-color: rgba(0, 0, 0, 0.517);
}
.formInput {
  outline: none;
  border: none;
}

@media only screen and (max-width: 600px) {
  .homeMain {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
}