#allResult {
    /* display: grid;
    grid-template-columns: 0.3fr 2fr; */
}
#result_loader {
    display: none;
}
.stateButton {
    display: grid;
}
.eachState {
    display: grid;
    grid-template-columns: 0.2fr 2fr;
}
.eachStateBtn {
    text-wrap: nowrap;
    min-width: 120px;
}
