#allResult {
    /* display: grid;
    grid-template-columns: 0.3fr 2fr; */
}
#result_loader {
    display: none;
}
.stateButton {
    display: grid;
}
.eachState {
    display: grid;
    grid-template-columns: 0.2fr 2fr;
}
.eachStateBtn {
    text-wrap: wrap;
    min-width: 120px;
    line-height: 1.5em;
    max-height: 100px;
    min-height: 50px;
    font-size: 13px;

}
