.partyTableBody:nth-child(odd) {
    background-color: lightgrey;
}
.partyTableTd {
    padding: 10px 2px;
}
table th {
    background-color: white;
    padding: 10px 2px;
}
table tr:nth-child(odd) {
    background-color: #f2f2f2;
}
#responseBar {
    display: none;
}
#page_loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: white;
}
#form_loader {
    display: none;
}
.searchBar:focus {
    border: 1px solid green;
    transition: all 0.2s ease-in-out;
}